{
    "endOfLine": "auto",
    "semi": true,
    "useTabs": false,
    "tabWidth": 4,
    "printWidth": 300,
    "singleQuote": true,
    "trailingComma": "none",
    "arrowParens": "always",
    "proseWrap": "never"
}
